<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFTeach.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9C4E66DC443532EA5DC3024752A0D8871BD6A3B7</string>
				<key>dateExpires</key>
				<string>9/3/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J4DS5LF993.SeanLevine.FFTeachProtoype</string>
				<key>com.apple.developer.team-identifier</key>
				<string>J4DS5LF993</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>J4DS5LF993.SeanLevine.FFTeachProtoype</string>
				</array>
			</dict>
			<key>name</key>
			<string>FFTeach.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e3687c44-3f5c-4ec3-9f1f-a73527d9d4f6</string>
				<key>dateExpires</key>
				<string>12/17/22</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J4DS5LF993</string>
				<key>name</key>
				<string>Sean Levine</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
